/* top header formatting */
.navbar-header {
    background-color: transparent;
    color: white;
}
/* Style inputs with type="text", select elements and textareas */
input, select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
body {
    border-radius: 5px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 500px;
    padding-bottom: 200px;
    padding-left: 500px;
    font-family: "verdana";
}

.idea {
    font-size: 40px;
    text-align: center;
}

.btn {
    background-color: black;
    color: white;
    margin-bottom: 100px;

}

/* Social media navbar formatting below */
.navbar-light {
    background-color: transparent;
    color: white;
    align-content: center;
    border: transparent;
    font-size: 50px; 
}
.fa-facebook {
  background: transparent;
  color: #3B5998;
  size: 40px;

}

.fa-twitter {
  background: transparent;
  color: #55ACEE;
  size: 40px;
}

.fa-instagram {
  background: transparent;
  color: #125688;
  size: 40px;
}