<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head> 
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top navbar-header" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#.navbar-collapse" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"> <img src="../static/images/logo.png"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="./About.html">About Show Me</a></li>
				<li><a href="./hello.html">Hello</a></li>
			</ul>
		</div>
	</div>
	</nav>
	</header>
	<body>
		<div class="form">
		<div class="idea">
			<p>Submit an idea!</p>
				</div>
		<div id="contact-form">
			<form method="post" action="/signup">
				<label for="name">Name:</label>
				<input type="name" name="name" required="required">

				<label for="email">Email address:</label>
				<input type="email" id="email" name="email" required="required">

				<label for="title">Title:</label>
				<input type="title" name="title" required="required">

				<label for="genre">Genre:</label>
				<input type="genre" name="genre" required="required">

				<label for="topline">Topline:</label>
				<input type="topline" name="topline" required="required">

				<label for="summary">Summary:</label>
				<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

				<input type="submit" value="Submit" id="submit-button"> 
			</form>
		</div>
		</div>
	</body> 

<nav class="navbar navbar-inverse navbar-fixed-bottom navbar-light">
	<div class="navbarBottom">
		<center>
	  		<a href="http://www.twitter.com/" class="fa fa-twitter" aria-hidden="true"></a>
	 		<a href="http://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></i></a>		 		
	 		<a href="http://www.instagram.com/" class="fa fa-instagram" aria-hidden="true"></i></a>
		 </center>
	</div>
</nav>

</html>